/*
 * CARDS
*/

.wrapper {
	text-align: center;

	.player-heading {
		font-family: $font-headline;
		font-weight: 700;
		text-align: center;
	}

	.cards {
		@include center-flex;

		.card {
			cursor: pointer;
			color: white;
			padding: $space;
			margin: $space;
			text-align: center;
			width: 200px;
			height: 300px;
			border: 2px solid black;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			position: relative;

			p {
				pointer-events: none;
				-moz-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;
				user-select: none;
				margin: 2px;
			}

			.gender {
				.gender-sign {
					font-size: 24px;
				}
			}

			.badge1 {
				@include badge;
				background-color: $brand-color3;

				&:after {
					content: 'Player 1';
				}
			}

			.badge2 {
				@include badge;
				background-color: $brand-color2;

				&:after {
					content: 'Player 2';
				}
			}
		}
	}
}

.overlay {
	border: 20px solid $brand-color1;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: linear-gradient(0deg, rgb(0, 0, 0) 0%, #ffffff00 50%);
	z-index: 2;
}