/*
 * GAME
*/

.players {
	display: flex;
	justify-content: center;
	align-items: flex-start;

	.player-container {
		padding: 0 $space;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		p {
			color: $light;
			font-size: 20px;
		}
	}

	.vs {
		padding: 44px $space;
	}
}

.game-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	position: relative;

	.dice-container {
		width: 200px;
		position: relative;

		.dice2button {
			background-color: grey;
		}
	}

	@media screen and (max-width: 1100px) {
		.player1-dice-container {
			order: 1;
		}

		.player2-dice-container {
			order: 2;
		}

		.game-wrapper {
			order: 3;
			z-index: 1;
		}
	}

	.gamelog {
		display: flex;
		flex-direction: column-reverse;
		position: absolute;
		text-align: center;
		width: 100%;

		p {
			margin: 0;
		}
	}

	.game-wrapper {
		position: relative;

		.start-banner {
			@include banner;
			top: -15px;
			left: -50px;
		}

		.finish-banner {
			@include banner;
			bottom: 7px;
			right: -20px;
		}

		.game-area {
			background-image: url("../images/game_background.png");
			width: 700px;
			height: 500px;
			position: relative;
			box-shadow: 0 0 20px 3px $dark;

			.gameshield {
				position: absolute;
				top: 25px;
				left: 25px;
				width: 50px;
				transform: rotate(10deg);
				transition: all .5s ease-in-out;
			}
		}

		@media screen and (max-width: 730px) {
			transform: scale(.6);
		}
		@media screen and (max-width: 445px) {
			transform: scale(.4);
		}
	}
}

.logo {
	width: 290px;
	background: $light;
	padding: $space;
	z-index: 4;
	position: absolute;
	transform: translateX(-320px);
	transition: 1s ease;

	&:hover{
		transform: translateX(0);
	}
}

.animate-logo {
	animation: animateLogo 3s 1 0s ease;
}

@keyframes animateLogo{
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(-320px);
	}
}
