/*
 * MIXINS
*/

// Align
@mixin center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

// Shadows
@mixin shadow {
	box-shadow: 5px 5px 3px 0 black;
}

@mixin badge {
	@include center-flex;
	font-family: $font-headline;
	font-weight: 700;
	width: 270px;
	height: 50px;
	position: absolute;
	top: 127px;
	background-color: #1B4D8C;
	transform: rotate(-10deg);
	font-size: 30px;
	@include shadow;
}

// Font classes
.font-headline {
	font-family: $font-headline;
}

.font-subheadline {
	font-family: $font-subheadline;
}

.font-main {
	font-family: $font-main;
}

// Margin
.margin {
	margin: $space * 2;
}