/*
 * VARIABLES
*/

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lora:700|Source+Sans+Pro');

$font-main: 'Source Sans Pro', sans-serif;
$font-headline: 'Abril Fatface', cursive;
$font-subheadline: 'Lora', serif;

$dark: #262626;
$light: #fff;
$brand-color1: #75A7E1;
$brand-color2: #1B4D8C;
$brand-color3: #5382BF;
$brand-color4: #023059;

$space: 20px;
